
[submodule "orga2/Guias/cBasico"]
	path = orga2/Guias/cBasico
	url = git@github.com:ariel8sche/cBasico.git
[submodule "inge1/SmallTalk/guias"]
	path = inge1/SmallTalk/guias
	url = git@github.com:UBA-FCEN-IngSoft1/2025-1c.git
